# Ignore node_modules directory (contains project dependencies)
**/node_modules

# Ignore npm debug log files
npm-debug.log*

# Ignore environment-specific files (e.g., .env)
.env

# Ignore build artifacts
/build

# Ignore backend dependencies
/backend/node_modules

# Ignore frontend dependencies
/frontend/node_modules
